{{ ansible_managed | comment }}
{% macro rkhunter_option_format(name, value) -%}
{%   if value is not none %}
{%     if name == "ALLOW_SSH_ROOT_USER" %}
{{ name }}={{ value | rbrightling.system.rkhunter_conf_option(boolean='text') }}
{%     elif name in ("PKGMGR_NO_VRFY", 
                     "USER_FILEPROP_FILES_DIRS", "EXCLUDE_USER_FILEPROP_FILES_DIRS",
                     "EXISTWHITELIST", "ATTRWHITELIST", "WRITEWHITELIST", "SCRIPTWHITELIST", "IMMUTWHITELIST",
                     "ALLOWHIDDENDIR", "ALLOWHIDDENFILE",
                     "ALLOWPROCDELFILE", "ALLOWPROCLISTEN",
                     "ALLOWDEVFILE", "ALLOWIPCPROC",
                     "SUSPSCAN_WHITELIST",
                     "PORT_PATH_WHITELIST",
                     "UNHIDE_TESTS")
                and value is not string and value is iterable %}
{%       for v in value %}
{{ name }}={{ v | rbrightling.system.rkhunter_conf_option }}
{%       endfor %}
{%     else %}
{{ name }}={{ value | rbrightling.system.rkhunter_conf_option }}
{%     endif %}
{%   endif %}
{%- endmacro %}
#
# This is the main configuration file for Rootkit Hunter.
#
#
# Mirror options
# --------------
{{ rkhunter_option_format('ROTATE_MIRRORS', rkhunter_rotate_mirrors) -}}
{{ rkhunter_option_format('UPDATE_MIRRORS', rkhunter_update_mirrors) -}}
{{ rkhunter_option_format('MIRRORS_MODE', rkhunter_mirrors_mode) -}}
#
# Email options
# -------------
{{ rkhunter_option_format('MAIL-ON-WARNING', rkhunter_mail_on_warning) -}}
{{ rkhunter_option_format('MAIL_CMD', rkhunter_mail_cmd) -}}
#
# Directory options
# -----------------
{{ rkhunter_option_format('TMPDIR', rkhunter_tmpdir) -}}
{{ rkhunter_option_format('DBDIR', rkhunter_dbdir) -}}
{{ rkhunter_option_format('SCRIPTDIR', rkhunter_scriptdir) -}}
{{ rkhunter_option_format('BINDIR', rkhunter_bindir) -}}
{{ rkhunter_option_format('INSTALLDIR', rkhunter_installdir) -}}
{{ rkhunter_option_format('LOGFILE', rkhunter_logfile) -}}
#
# Language options
# ----------------
{{ rkhunter_option_format('LANGUAGE', rkhunter_language) -}}
{{ rkhunter_option_format('UPDATE_LANG', rkhunter_update_lang) -}}
#
# Logging options
# ---------------
{{ rkhunter_option_format('APPEND_LOG', rkhunter_append_log) -}}
{{ rkhunter_option_format('COPY_LOG_ON_ERROR', rkhunter_copy_log_on_error) -}}
{{ rkhunter_option_format('USE_SYSLOG', rkhunter_use_syslog) -}}
#
# Output options
# --------------
{{ rkhunter_option_format('COLOR_SET2', rkhunter_color_set2) -}}
{{ rkhunter_option_format('AUTO_X_DETECT', rkhunter_auto_x_detect) -}}
{{ rkhunter_option_format('WHITELISTED_IS_WHITE', rkhunter_whitelisted_is_white) -}}
{{ rkhunter_option_format('SHOW_SUMMARY_WARNINGS_NUMBER', rkhunter_show_summary_warnings_number) -}}
{{ rkhunter_option_format('SHOW_SUMMARY_TIME', rkhunter_show_summary_time) -}}
#
# SSH options
# -----------
{{ rkhunter_option_format('ALLOW_SSH_ROOT_USER', rkhunter_allow_ssh_root_user) -}}
{{ rkhunter_option_format('ALLOW_SSH_PROT_V1', rkhunter_allow_ssh_prot_v1) -}}
{{ rkhunter_option_format('SSH_CONFIG_DIR', rkhunter_ssh_config_dir) -}}
#
# Test options
# ------------
{{ rkhunter_option_format('ENABLE_TESTS', rkhunter_enable_tests) -}}
{{ rkhunter_option_format('DISABLE_TESTS', rkhunter_disable_tests) -}}
{{ rkhunter_option_format('HASH_CMD', rkhunter_hash_cmd) -}}
{{ rkhunter_option_format('HASH_FLD_IDX', rkhunter_hash_fld_idx) -}}
{{ rkhunter_option_format('PKGMGR', rkhunter_pkgmgr) -}}
{{ rkhunter_option_format('PKGMGR_NO_VRFY', rkhunter_pkgmgr_no_vrfy) -}}
{{ rkhunter_option_format('USE_SUNSUM', rkhunter_use_sunsum) -}}
{{ rkhunter_option_format('IGNORE_PRELINK_DEP_ERR', rkhunter_ignore_prelink_dep_err) -}}
{{ rkhunter_option_format('USER_FILEPROP_FILES_DIRS', rkhunter_user_fileprop_files_dirs) -}}
{{ rkhunter_option_format('EXCLUDE_USER_FILEPROP_FILES_DIRS', rkhunter_exclude_user_fileprop_files_dirs) -}}
{{ rkhunter_option_format('GLOBSTAR', rkhunter_globstar) -}}
{{ rkhunter_option_format('PHALANX2_DIRTEST', rkhunter_phalanx2_dirtest) -}}
{{ rkhunter_option_format('SCANROOTKITMODE', rkhunter_scanrootkitmode) -}}
{{ rkhunter_option_format('UNHIDE_TESTS', rkhunter_unhide_tests) -}}
{{ rkhunter_option_format('UNHIDETCP_OPTS', rkhunter_unhidetcp_opts) -}}
#
# Whitelist options
# -----------------
{{ rkhunter_option_format('EXISTWHITELIST', rkhunter_existwhitelist) -}}
{{ rkhunter_option_format('ATTRWHITELIST', rkhunter_attrwhitelist) -}}
{{ rkhunter_option_format('WRITEWHITELIST', rkhunter_writewhitelist) -}}
{{ rkhunter_option_format('SCRIPTWHITELIST', rkhunter_scriptwhitelist) -}}
{{ rkhunter_option_format('IMMUTWHITELIST', rkhunter_immutwhitelist) -}}
{{ rkhunter_option_format('IMMUTABLE_SET', rkhunter_immutable_set) -}}
{{ rkhunter_option_format('SKIP_INODE_CHECK', rkhunter_skip_inode_check) -}}
{{ rkhunter_option_format('ALLOWHIDDENDIR', rkhunter_allowhiddendir) -}}
{{ rkhunter_option_format('ALLOWHIDDENFILE', rkhunter_allowhiddenfile) -}}
{{ rkhunter_option_format('ALLOWPROCDELFILE', rkhunter_allowprocdelfile) -}}
{{ rkhunter_option_format('ALLOWPROCLISTEN', rkhunter_allowproclisten) -}}
{{ rkhunter_option_format('ALLOWPROMISCIF', rkhunter_allowpromiscif) -}}
{{ rkhunter_option_format('SCAN_MODE_DEV', rkhunter_scan_mode_dev) -}}
{{ rkhunter_option_format('ALLOWDEVFILE', rkhunter_allowdevfile) -}}
{{ rkhunter_option_format('ALLOWIPCPROC', rkhunter_allowipcproc) -}}
{{ rkhunter_option_format('ALLOWIPCPID', rkhunter_allowipcpid) -}}
{{ rkhunter_option_format('ALLOWIPCUSER', rkhunter_allowipcuser) -}}
{{ rkhunter_option_format('IPC_SEG_SIZE', rkhunter_ipc_seg_size) -}}
{{ rkhunter_option_format('EMPTY_LOGFILES', rkhunter_empty_logfiles) -}}
{{ rkhunter_option_format('MISSING_LOGFILES', rkhunter_missing_logfiles) -}}
{{ rkhunter_option_format('RTKT_FILE_WHITELIST', rkhunter_rtkt_file_whitelist) -}}
{{ rkhunter_option_format('RTKT_DIR_WHITELIST', rkhunter_rtkt_dir_whitelist) -}}
{{ rkhunter_option_format('SHARED_LIB_WHITELIST', rkhunter_shared_lib_whitelist) -}}
{{ rkhunter_option_format('APP_WHITELIST', rkhunter_app_whitelist) -}}
#
# Inetd options
#
{{ rkhunter_option_format('INETD_CONF_PATH', rkhunter_inetd_conf_path) -}}
{{ rkhunter_option_format('INETD_ALLOWED_SVC', rkhunter_inetd_allowed_svc) -}}
#
# Xinetd options
#
{{ rkhunter_option_format('XINETD_CONF_PATH', rkhunter_xinetd_conf_path) -}}
{{ rkhunter_option_format('XINETD_ALLOWED_SVC', rkhunter_xinetd_allowed_svc) -}}
#
# Suspscan Options
# ----------------
{{ rkhunter_option_format('SUSPSCAN_DIRS', rkhunter_suspscan_dirs) -}}
{{ rkhunter_option_format('SUSPSCAN_TEMP', rkhunter_suspscan_temp) -}}
{{ rkhunter_option_format('SUSPSCAN_MAXSIZE', rkhunter_suspscan_maxsize) -}}
{{ rkhunter_option_format('SUSPSCAN_THRESH', rkhunter_suspscan_thresh) -}}
{{ rkhunter_option_format('SUSPSCAN_WHITELIST', rkhunter_suspscan_whitelist) -}}
#
# Port Options
# ------------
{{ rkhunter_option_format('PORT_WHITELIST', rkhunter_port_whitelist) -}}
{{ rkhunter_option_format('PORT_PATH_WHITELIST', rkhunter_port_path_whitelist) -}}
#
# OS options
# ----------
{{ rkhunter_option_format('OS_VERSION_FILE', rkhunter_os_version_file) -}}
{{ rkhunter_option_format('WARN_ON_OS_CHANGE', rkhunter_warn_on_os_change) -}}
{{ rkhunter_option_format('UPDT_ON_OS_CHANGE', rkhunter_updt_on_os_change) -}}
{{ rkhunter_option_format('STARTUP_PATHS', rkhunter_startup_paths) -}}
{{ rkhunter_option_format('PASSWORD_FILE', rkhunter_password_file) -}}
{{ rkhunter_option_format('UID0_ACCOUNTS', rkhunter_uid0_accounts) -}}
{{ rkhunter_option_format('PWDLESS_ACCOUNTS', rkhunter_pwdless_accounts) -}}
{{ rkhunter_option_format('SYSLOG_CONFIG_FILE', rkhunter_syslog_config_file) -}}
{{ rkhunter_option_format('ALLOW_SYSLOG_REMOTE_LOGGING', rkhunter_allow_syslog_remote_logging) -}}
#
# Command options
# ---------------
{{ rkhunter_option_format('STAT_COMMAND', rkhunter_stat_cmd) -}}
{{ rkhunter_option_format('READLINK_CMD', rkhunter_readlink_cmd) -}}
{{ rkhunter_option_format('EPOCH_DATE_CMD', rkhunter_epoch_date_cmd) -}}
{{ rkhunter_option_format('MODULES_DIR', rkhunter_modules_dir) -}}
{{ rkhunter_option_format('WEB_CMD', rkhunter_web_cmd) -}}
#
# Lock File Options
# -----------------
{{ rkhunter_option_format('USE_LOCKING', rkhunter_use_locking) -}}
{{ rkhunter_option_format('LOCKDIR', rkhunter_lockdir) -}}
{{ rkhunter_option_format('LOCK_TIMEOUT', rkhunter_lock_timeout) -}}
{{ rkhunter_option_format('SHOW_LOCK_MSGS', rkhunter_show_lock_msgs) -}}
